body {
  background-color: #77A6C5;
}

.image {
  float: left;
  background-color: #fff;
  padding: 3px;
  border: 1px solid #ddd;
  margin: 10px;
}

.images {
  overflow: hidden;
}

#wrapper {
  margin: 50px auto;
  width: 90%;
  padding: 20px 15px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #A0BAC5;
}

#progress {
  width: 80%;
  border: 2px dotted #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 15px auto;
  padding: 10px;  
  text-align: center;
}

#bar {
  background-color: #333;
  color: #e0e0e0;
  text-align: center;
  min-width: 1.5em;
  padding: 5px 0;
  display: block;
  margin-left: 0;
}